    <nav class="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="governance.html">Governance</a></li>
            <li><a href="plan.html">Development Plan</a></li>
            <li><a href="Draft_%20Property%20Data%20Trust%20Framework%202%20Specification.html">Framework Spec</a></li>
            <li><a href="Draft_%20PDTF%20Participant%20DID%20Auth%20OAuth%202%20Specification.html">OAuth Spec</a></li>
            <li><a href="access-specification.html">Access Spec</a></li>
            <li><a href="../">Registry</a></li>
        </ul>
    </nav>